/* -- MOBILE / GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato;
}

body {
  margin: 0;
}

/* Header */
header {
  position: fixed;
  padding: 10px;
  background-color: #355C7D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 0;
}

.logo {
  height: 5em;
}

/* Meny */
@media (max-width: 1024px) {
  .hamburger {
    display: block;
    padding: 10px 20px;
    padding: 0.1em;
    float: right;
    font-size: 3em;
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
  nav {
    width: 100%;
    max-height: 0;
    overflow: scroll;
    padding: 0 30px 0 10px;
    margin: 0;
    top: 6.45em;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #bbddff;
  }
  nav a {
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
  }
  nav > ul {
    text-align: right;
  }
  nav > ul, nav .menu-under {
    list-style-type: none;
  }
  nav .menu-under {
    padding-left: 10px;
    padding-bottom: 10px;
  }
  nav .menu-under a {
    font-weight: normal;
    font-size: 1em;
  }
  nav li > a {
    padding-bottom: 10px;
  }
  .show-nav {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    max-height: 100%;
  }
}

/* Meny end */
/* Header end */
/* main */
main {
  margin-top: 6.45em;
  /* Om oss Mobile/Generella start */
  /* Om oss  Mobile/Generella ends */
}

main .sectionBlank {
  background-color: black;
  color: #eee;
  height: 140px;
}

main .sectionBlank #finishedAnimation {
  display: none;
  padding-top: 1%;
  font-size: 80px;
  color: #000;
  text-align: center;
}

main .sectionBlank #finishedAnimation span {
  color: lightblue;
  font-size: 60px;
}

main .sectionBlank #finishedAnimation p {
  font-size: 15px;
}

main #blankAnimation {
  padding-left: 40px;
}

main .sectionGrey, main .sectionWhite {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  color: #5E5555;
  padding-bottom: 30px;
}

main .sectionWhite {
  background-color: #ffffff;
}

main .sectionGrey {
  background-color: #E6E6E6;
}

main * > * {
  grid-column: auto / span 6;
}

main h1, main h2, main p, main .textbox-picture-picture {
  padding: 30px 30px 0 30px;
  margin: 0;
}

main h1 {
  font-size: 1.7em;
}

main h2 {
  font-size: 1.5em;
}

main .textbox-picture-picture {
  max-width: 100%;

}

main ul {
  padding: 30px 30px 0 50px;
  margin: 0;
}

main ul li {
  padding: 10px 0;
}

main figure {
  margin: 0;
  padding: 15px 30px 30px 30px;
}

main figure img {
  width: 200px;
}

main figure figcaption h3 {
  margin-top: 1px;
}

main figure figcaption ol {
  padding-left: 15px;
  margin: 5px 0px 5px 0px;
}

main figure figcaption p {
  padding-left: 0px;
  padding-top: 10px;
}


/* Contact */
textarea {
  height: 185px;
}

iframe {
  border: none;
  height: 500px;
  width: 100%;
}

input[type=submit] {
  width: 100%;
  max-width: 100%;
  padding: 10px 5px;
  margin: 4px auto;
  border: 0;
  background-color: black;
  color: #FFF;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
}

input[type=text], textarea {
  font-size: 15px;
  margin: 10px 0;
  border: 0;
  resize: none;
  padding: 10px 5px;
  background-color: #FFFFFF;
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  outline: none;
}

input[type=text]:focus, textarea:focus {
  border: 2px solid #7a817f;
}

.contact-pic {
  display: none;
}

.adress {
  display: inline-block;
  padding-left: 30px;
  font-size: 1.5em;
}

/* Contact END */
/* Portfolio */
#kodexempel, #designexempel {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 30px;
}

#kodexempel h1, #designexempel h1 {
  padding: 0;
}

#kodexempel p, #designexempel p {
  padding: 30px 30px 30px 0;
}

#kodexempel ul, #designexempel ul {
  padding-left: 20px;
}

/* Image switcher */
.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.switcher, .switcher .switcher-imgs {
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.switcher .switcher-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switcher .switcher-imgs .switcher-img {
  margin: auto 0;
  width: 0;
  height: 100%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.switcher .switcher-imgs .switcher-active {
  width: 100%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
}

.switcher .switcher-left, .switcher .switcher-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-size: 2em;
  padding-bottom: 0.2em;
  opacity: 0.75;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.switcher .switcher-left {
  margin-left: -50px;
  left: 0;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.switcher .switcher-right {
  margin-right: -50px;
  right: 0;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

.switcher .switcher-active-left {
  left: 50px;
}

.switcher .switcher-active-right {
  right: 50px;
}

/* Image switcher end*/
/* Portfolio - end */

/* main end *

/* Mobile Footer */
.hidemobile {
  display: none;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(#333), to(#ccc));
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

footer {
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #000;
}

.f-g-contact {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: left;
  margin-left: 5px;
}

.f-g-cookies {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: center;
}

.f-g-social {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: right;
}

.f-logo {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 5px;
}

/* Mobile Footer ends */
/* --- DESKTOP --- */
@media (min-width: 1024px) {
  /* Header */
  /* Meny */
  .hamburger {
    display: none;
  }
  nav {
    display: initial;
    font-size: 1.2em;
    padding: 0 100px 0 10px;
  }
  nav > ul {
    list-style-type: none;
  }
  nav .menu-item {
    display: inline-block;
    padding: 0;
  }
  nav .menu-item a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  nav .menu-item > a {
    display: block;
    padding: 10px 20px 10px 20px;
    color: #000;
  }
  nav .menu-item .menu-under {
    position: absolute;
    list-style-type: none;
    background-color: #bbddff;
    -webkit-box-shadow: 2px 2px 5px #000;
            box-shadow: 2px 2px 5px #000;
    opacity: 0.9;
    padding: 10px;
    border-radius: 0px 3px 3px 3px;
    margin: 0 0 0 20px;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  nav .menu-item .menu-under > li {
    margin: 10px;
  }
  nav .menu-item .menu-under a:hover {
    border-bottom: 5px solid #55aaff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  nav .menu-item a:hover + .menu-under, nav .menu-item .menu-under:hover {
    display: initial;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  /* Meny END */
  /* Header END */
  /* Main */
  .sectionGrey * > *, .sectionWhite * > * {
    grid-column: auto / span 6;
  }
  .sectionGrey .textbox-two, .sectionWhite .textbox-two {
    grid-column: auto / span 2;
  }
  .sectionGrey .textbox-three, .sectionWhite .textbox-three {
    grid-column: auto / span 3;
  }
  .sectionGrey .textbox-four, .sectionWhite .textbox-four {
    grid-column: auto / span 4;
  }
  /* Portfolio + omoss */
  #kodexempel > *:first-child, #filosofi > *:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #kodexempel > *:first-child {
    padding-left: 30px;
  }
  /* Portfolio + omoss end */
  /* Contact */
  .contact-pic {
    display: -ms-grid;
    display: grid;
  }
  .contact-pic img {
    max-width: 100%;
    padding-right: 30px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .adress {
    display: inline-block;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 30px;
    padding-top: 40px;
    font-size: 1.5em;
  }
  /* Contact END */

  /* Main END */
  /* Desktop Footer */
  .showdesktop {
    display: block;
  }
  .hidedesktop {
    display: none;
  }
  footer {
    -ms-grid-columns: 1fr 3fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 3fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    margin: 25px 25px 10px 25px;
    font-size: 1.3em;
  }
  footer a:hover {
    zoom: 103%;
  }
  .f-g-contact {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    text-align: left;
    margin-left: 0px;
  }
  .f-g-cookies {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: left;
  }
  .f-g-mail {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    text-align: right;
    padding-right: 50px;
  }
  .f-g-numb {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    grid-row: 3;
    text-align: left;
    padding-left: 50px;
  }
  .f-g-fb {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 1;
    grid-row: 1;
    text-align: left;
    position: relative;
    left: 110px;
  }
  .f-g-ig {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: left;
    position: relative;
    left: 110px;
  }
  .f-g-li {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 3;
    grid-row: 3;
    text-align: left;
    position: relative;
    left: 110px;
  }
  /* Desktop footer ends */
  #cookies:hover {
    zoom: 103%;
  }
}

/* Media querry end */
/* Cookie CSS */
#cookies {
  cursor: pointer;
}

.cookie {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.cookie-content {
  padding: 15px;

  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  background-color: #fefefe;
  border: 1px solid #888;
}

.close {
  font-size: 40px;
  float: right;
  color: #000;
  cursor: pointer;
}

.close:hover {
  color: #000;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */