.sectionGrey{
    background-color: grey;
}
.sectionWhite{
    background-color: blue;
}
.sectionBlank{
    background-color: black;
    color: white;   
}
.placeholderBild{
    width: 200px;
    height: 200px;
}