// Variables
$header-bg: #355C7D;

$menu-text: #000;
$menu-bg: #bbddff;
$menu-shadow: #000;
$menu-line: #55aaff;

/* -- MOBILE / GENERAL */
* {
    box-sizing: border-box;
    font-family: Lato;
}

body {
    margin: 0;
}

/* Header */
header {
    position: fixed;
    padding: 10px;
    background-color: $header-bg;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo {
    height: 5em;
}
/* Meny */
@media(max-width: 1024px) {
    .hamburger {
        display: block;
        padding: 10px 20px;
        padding: 0.1em;
        float: right;
        font-size: 3em;
        text-decoration: none;
        color: $menu-text;
        cursor: pointer;
    }

    nav {
        width: 100%;
        max-height: 0;
        overflow: scroll;
        padding: 0 30px 0 10px;
        margin: 0;
        top: 6.45em;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background-color: $menu-bg; 
        a {
            color: $menu-text;
            font-size: 1.2em;
            text-decoration: none;
            display: inline-block;
            font-weight: bold;
        }
        > ul { text-align: right; }
        > ul, .menu-under { list-style-type: none; }
        .menu-under {
            padding-left: 10px;
            padding-bottom: 10px;
            a { 
                font-weight: normal; 
                font-size: 1em;
            }
        }
        li>a { padding-bottom: 10px; }
    }
    .show-nav { 
        transition: 0.5s ease-in-out;
        max-height: 100%;
    }
}
/* Meny end */
/* Header end */

/* main */
main{
    margin-top: 6.45em; // Margin för att inte header ska täcka innehållet
    .sectionBlank{
        background-color: #000;
        color: #eee;
        height: 150px;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        .blank-spacer{
            grid-column: 1 / 6;
        }
        .blank-first-statement{
            grid-column: 2 / 4;

        }       
        .blank-second-statement{
            grid-column: 3 / 5;
        }
    }
    // Section grid
    .sectionGrey, .sectionWhite {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        color: #5E5555;
        padding-bottom: 30px;
    }
    .sectionWhite{ background-color: #ffffff; }
    .sectionGrey{ background-color: #E6E6E6; }
    * > *  { grid-column: auto / span 6; }
  // Section grid end
  h1,h2,p,.textbox-picture-picture { 
    padding: 30px 30px 0 30px;
    margin: 0;
  }
  h1 { font-size: 1.7em; }
  h2 { font-size: 1.5em; }
  .textbox-picture-picture{
    max-width: 100%;
  }
  /* Om oss Mobile/Generella start */
    figure{
        margin: 0;
        padding: 15px 30px 30px 30px;
        img{
            width: 200px;
        }
        figcaption{
            h3{
                margin-top: 1px;
            }
            ol{
                padding-left: 15px;
                margin: 5px 0px 5px 0px;
            }
            p{padding-left: 0px; padding-top: 10px;}

        }
    }
    /* Om oss  Mobile/Generella ends */
}

/* Contact */

    textarea{
        height: 185px;
    }

    iframe{
        border: none;
        height: 500px;
        width: 100%;
    }       
    
    input[type=submit]{
            width: 100%;
            max-width: 100%;
            padding: 10px 5px;
            margin: 4px auto;
            border: 0;
            background-color: black; 
            color: #FFF;
            border-radius: 4px;
            font-size: 15px;
            outline: none;
        }

          input[type=text], textarea{
            font-size: 15px;
            margin: 10px 0;
            border: 0;
            resize: none;
            padding: 10px 5px;
            background-color: #FFFFFF;
            border-radius: 4px;
            max-width: 100%;
            width: 100%;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            outline: none;
        }

        input[type=text]:focus, textarea:focus{
            border: 2px solid #7a817f;
        }

    .contact-pic{
     display: none;
    }

    .adress{
        display: inline-block;
        padding-left: 30px;
        font-size: 1.5em;
    }

    /* Contact END */

    


/* Portfolio */
#kodexempel,#designexempel {
    align-items: start;
    padding: 30px 30px;
    * > h2,p { 
        margin: 0; 
        padding: 0 30px; }
    * > ul {
        padding: 0 20px 20px 50px;
        li {
            padding: 10px 0;
        }
    }
}

/* Image switcher */
.switcher {
    display: flex;
    align-items: center;       
    margin: 0 auto;
    overflow: hidden;  
    &, .switcher-imgs { 
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }
    .switcher-imgs {
        display: flex;
        align-items: center;
        .switcher-img {
            margin: auto 0;
            width: 0;
            height: 100%;
            transform: rotate(360deg);
            opacity: 0;
            transition: 1s ease-in-out;
        }
        .switcher-active { 
            width: 100%; 
            transform: rotate(0deg); 
            opacity: 1;
        }
    }
    
    .switcher-left, .switcher-right {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        color: #fff;
        background-color: #000;
        font-size: 2em;
        padding-bottom: 0.2em;
        opacity: 0.75;
        transition: 0.5s ease-in-out;
        z-index: 1;
    }
    .switcher-left {
        margin-left: -50px;
        left: 0;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
    }
    .switcher-right {
        margin-right: -50px;
        right: 0;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
    }
    .switcher-active-left { left: 50px; }
    .switcher-active-right { right: 50px; }
}
/* Image switcher end*/

/* Portfolio - end */

/* main end *

/* Mobile Footer */
.hidemobile{
    display: none;
}
    
    hr{
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
       }
footer{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    text-align: center;
    a{
        text-decoration: none;
        color: #000;
    }
}
.f-g-contact{
    grid-column: 1;
    grid-row:1;
    text-align: left;
    margin-left: 5px;
}
.f-g-cookies{
    grid-column: 2;
    grid-row:1;
    text-align: center;
}
.f-g-social{
    grid-column: 3;
    grid-row:1;
    text-align: right;
}
.f-logo{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 5px;
}

/* Mobile Footer ends */


/* --- DESKTOP --- */

@media(min-width: 1024px) {
    /* Header */
    /* Meny */
    .hamburger { display: none; }
    nav {
        display: initial;
        font-size: 1.2em;
        padding: 0 100px 0 10px;
        > ul { list-style-type: none; }
        .menu-item {
            display: inline-block;
            padding: 0;
            a { 
                font-weight: bold;
                text-decoration: none;
                color: $menu-text;
            }
            > a {
                display: block;
                padding: 10px 20px 10px 20px;
                color: $menu-text;
            }
            .menu-under {
                position: absolute;
                list-style-type: none;
                background-color: $menu-bg;
                box-shadow: 2px 2px 5px $menu-shadow;
                opacity: 0.9;
                padding: 10px;
                border-radius: 0px 3px 3px 3px;
                margin: 0 0 0 20px;
                transition: 0.1s ease-in-out;
                transform: scale(0);
                transform-origin: top left;
                > li { margin: 10px; }
                a:hover { 
                    border-bottom: 5px solid $menu-line; 
                    transition: 0.3s ease-in-out;
                }     
            }
            a:hover + .menu-under, .menu-under:hover { 
                display: initial; 
                transition: 0.3s ease-in-out;
                transform: scale(1);
            }
        }
    }
    /* Meny END */
    /* Header END */

    /* Main */
    .sectionGrey, .sectionWhite {
        // grid
        * > * { grid-column: auto / span 6; }
        .textbox-two { grid-column: auto / span 2; }
        .textbox-three { grid-column: auto / span 3; }
        .textbox-four { grid-column: auto / span 4; }
    }    
    
    /* Portfolio + omoss */
    #kodexempel, #filosofi {
        >*:first-child { order: 1; }
    }
    /* Portfolio end */

    /* Contact */

    .contact-pic{
        display: grid;
        img{
            max-width: 100%;
            padding-right: 30px;
            justify-self: center;
            align-self: center;
        }
    }

    .adress{
        display: inline-block;
        justify-self: center;
        align-self: center;
        padding-left: 30px;
        padding-top: 40px;
        font-size: 1.5em;
    }

    /* Contact END */
    
    /* Main END */

    /* Desktop Footer */
    .showdesktop{
        display: block;
    }
    .hidedesktop{
        display: none;
    }
   
    footer{
        grid-template-columns: 1.5fr 2fr 2fr 1.5fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 25px 25px 10px 25px;
        font-size: 1.3em;
        a:hover{
            zoom: 103%;
        }
    }
    .f-g-contact{
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        margin-left: 0px;
        
    }
    .f-g-cookies{
        grid-column: 1;
        grid-row: 2;
        text-align: left;
    }
    .f-g-mail{
        grid-column: 2;
        grid-row: 3;
        text-align: right;
        padding-right: 50px;
    }
    .f-g-numb{
        grid-column: 3;
        grid-row: 3;
        text-align: left;
        padding-left: 50px;
    }
    .f-g-fb, .f-g-ig, .f-g-li{
        grid-column: 4;
        text-align: left;
        /* padding-left: 50px; */
        width: 150px;
        justify-self: right;
    }
    .f-g-fb{
        grid-row: 1;
    }
    .f-g-ig{
        grid-row: 2;
    }
    .f-g-li{
        grid-row: 3;
    }
    /* Desktop footer ends */

} /* Media querry end */

/* Cookie CSS */
.cookie{
    display: none; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.cookie-content{
    padding: 15px;
    background-color: #fefefe;
    border: 1px solid #888;
}




    
    
    