// Variables
$menu-text: #bbddff;
$menu-under-text: #000;
$menu-bg: #eee;
$menu-border: #ccc;
$menu-shadow: #000;

/* General */
* {
    box-sizing: border-box;
    font-family: Lato;
}


/* Header */

/* Main */

/* temp placeholderBild */
.sectionGrey{
    background-color: grey;
}
.sectionBlank{
    background-color: black;
    color: white;   
}
.placeholderBild{
    width: 200px;
    height: 200px;
}
/* temp end */

/* Main END */
 /* Footer */
 .mobilehide{
     display: none;
 }
 .mobileshow{
     display: block;
 }
 footer{
     display: grid;
     grid-template-columns: auto auto auto;
     grid-template-rows: auto;
 }
 
.mobileOne{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 1;
    text-align: center;
    
}
.mobileTwo{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 1;
    text-align: center;
}
.mobileThree{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row: 1;
    text-align: center;
}

/* Footer ends */

/* --- DESKTOP --- */

@media(min-width: 1024px) {
    /* Meny */
    .desktophide{
        display: none;
    }
    .desktopshow{
        display: block;
    }
    nav {
        font-size: 1.2em;
        padding: 0 100px 0 10px;
        > ul { list-style-type: none; }
        .menu-item {
            display: inline-block;
            padding: 0;
            a { 
                font-weight: bold;
                text-decoration: none;
                color: $menu-under-text;
            }
            > a {
                display: block;
                padding: 10px 20px 10px 20px;
                color: $menu-text;
                text-shadow: 0 1px 0 $menu-shadow;
            }
            .menu-under {
                position: absolute;
                list-style-type: none;
                border: 1px solid $menu-border;
                background-color: $menu-bg;
                box-shadow: 1px 1px 1px $menu-shadow;
                opacity: 0.97;
                padding: 10px;
                border-radius: 0px 3px 3px 3px;
                margin: 0 0 0 20px;
                transition: 0.1s ease-in-out;
                transform: scale(0);
                transform-origin: top left;
                > li { margin: 10px; }
                a:hover { 
                    border-bottom: 5px solid $menu-text; 
                    transition: 0.3s ease-in-out;
                }     
            }
            a:hover + .menu-under, .menu-under:hover { 
                display: initial; 
                transition: 0.3s ease-in-out;
                transform: scale(1);
            }
        }
        /* Meny END */
    }
    /* footer start */
    hr{
        border: 2px solid #ECECEC;
        width: 95%;
    }
    footer{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        width: 95%;
        margin: 0 auto;
    }
    .grid-kontakt{
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }
    .grid-cookies{
        grid-column: 1;
        grid-row: 2;
        text-align: left;
    }
    .grid-info{
        grid-column: 2;
        grid-row: 4;
        text-align: center;
    }
    .grid-fb{
        grid-column: 3;
        grid-row: 1;
        margin: 10px;
        text-align: right;
    }
    .grid-ig{
        grid-column: 3;
        grid-row: 2;
        margin: 10px;
        text-align: right;
    }
    .grid-li{
        grid-column:3;
        grid-row: 3;
        margin: 10px;
        text-align: right;
    }
    .footer-logos{
        height: 25px;
        width: 25px;
    }
  
    /* footer ends */
}